body {
  background-image: url('../images/spaaaace.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  font-family: $nonto;
  font-size: $baseFontSize;
  margin: 0;
  position: relative;
}

main {
  flex: 1;
  padding: 0 1.25em;
  position: relative;

  header {
    text-align: center;
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    font-size: 6em;
  }

  .textFlash {
    color: $white;
    font-size: 100px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    position: absolute;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent $white;


    &.play {
      width: 74px;
      border-style: solid;
      border-width: 37px 0px 37px 60px;
    }
    &.pause {
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
    &.restart {
      height: 80px;
      width: 80px;
      &:before, &:after {
        content: '';
        display: block;
      }
      &:before {
        border-color: transparent $white $white $white;
        border-radius: 50%;
        border-style: solid;
        border-width: 15px;
        height: 50px;
        width: 50px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        border-color: transparent transparent transparent $white;
        border-style: solid;
        border-width: 18px 0 18px 20px;
        height: 0;
        position: absolute;
        top: -10px;
        left: 50%;
        width: 0;
      }
    }
  }
  .gameBoard {
    height: 100vh;
    width: 100%;
  }
}

aside.controls {
  align-items: center;
  border-left: 1px solid $white;
  color: $white;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 0 20px; 

  .gameButtons {
    margin-bottom: 40px;
    div.startContainer {
      margin-bottom: 40px;
    }
  }

  .sliderContainer {
    flex: 1;
    position: relative;
    width: 100%;
    .slider {
      position: absolute;
      left: calc(50% - 10px);
      right: 0;
      top: 0;
      height: 20px;
      width: 300px;
      -webkit-transition: .2s;
      transition: opacity .2s;
      transform-origin: 150px 150px;
      transform: rotate(-90deg);
    }
  }
  
  .speedContainer {
    text-align: center;
    font-size: 1.25em;
    margin: 2.5em 0;
  }

}

.imageWrapper {
  position: absolute;

  &.inactive {
    cursor: not-allowed;
    img {
      -webkit-filter: $sillhouette;
      filter: $sillhouette;
      opacity: 1;
    }
  }
  img {
    -webkit-filter: drop-shadow($drop-shadow);
    filter: drop-shadow($drop-shadow);

  }
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.9);
  color: $black;
  display: none;
  height: 100vh;
  position: fixed;
  width: 100%;

  &.active {
    display: block;
  }

  .modalContent {
    background-color: $purple;
    margin: 0;
    left: 50%;
    padding: 2.5em;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .modalTitle {
      text-align: center;
    }
  }


  button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2.5em;
  }
}