body {
  background-image: url('../images/spaaaace.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  font-family: $nonto;
  font-size: 32px;
  margin: 0;
  overflow: hidden;
  position: relative;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 16px;
  }
}

main {
  flex: 1;
  padding: 0 1.25em;
  position: relative;

  header {
    text-align: center;
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    font-size: 6em;
  }

  .textFlash {
    color: $white;
    font-size: 100px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    position: absolute;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent $white;


    &.play {
      width: 74px;
      border-style: solid;
      border-width: 37px 0px 37px 60px;
    }
    &.pause {
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
    &.restart {
      height: 80px;
      width: 80px;
      &:before, &:after {
        content: '';
        display: block;
      }
      &:before {
        border-color: transparent $white $white $white;
        border-radius: 50%;
        border-style: solid;
        border-width: 15px;
        height: 50px;
        width: 50px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        border-color: transparent transparent transparent $white;
        border-style: solid;
        border-width: 18px 0 18px 20px;
        height: 0;
        position: absolute;
        top: -10px;
        left: 50%;
        width: 0;
      }
    }
  }
  .gameBoard {
    height: 100vh;
    width: 100%;
  }
}

aside.controls {
  align-items: center;
  border-left: 1px solid $white;
  color: $white;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 0 20px;

  .gameButtons {
    margin-bottom: 40px;

    div.startContainer {
      margin-bottom: 40px;
    }
  }

  .sliderContainer {
    flex: 1;
    position: relative;
    width: 100%;
    .slider {
      position: absolute;
      left: calc(50% - 10px);
      right: 0;
      top: 0;
      height: 20px;
      width: 300px;
      -webkit-transition: .2s;
      transition: opacity .2s;
      transform-origin: 150px 150px;
      transform: rotate(-90deg);
    }
  }

  .speedContainer {
    text-align: center;
    font-size: 1.25em;
    margin: 2.5em 0;
  }

  .menuContainer {
    width: 100%;
  }

}